.container {
  display: grid;
  grid-template-areas: 'chat-list chat-messages';
  grid-template-columns: 200px 1fr;
  height: 100vh;
  gap: 10px;
}

@media (max-width: 768px) {
  .home-container {
    grid-template-areas:
      'chat-list'
      'chat-messages';
    grid-template-columns: 1fr;
  }
}
